/OPL_flow/*.oplproject
/OPL_flow/*.project
/OPL_flow/*.dat

/Instances/

__pycache__/
*.pyc

/Parse_instance/*.dat

/Scripts/*.dat
/Scripts/backtest_full12/
/Scripts/backtest_cutting_planes12/

/Pictures/

/src/main
/src/*.dat